extends layout

block content
  .page-header
    .container
      h2 Historia del Club
  
  section.timeline
    .container
      .timeline-item
        .timeline-year 1930
        .timeline-content
          h3 Fundación
          p El 11 de enero de 1930 nace Liga Deportiva Universitaria de Quito, como un equipo conformado principalmente por estudiantes de la Universidad Central del Ecuador. Desde sus inicios, el club se caracterizó por promover valores como la disciplina y el esfuerzo académico junto con el deporte.
      
      .timeline-item
        .timeline-year 1969
        .timeline-content
          h3 Primer Campeonato Nacional
          p LDU conquista su primer título nacional, marcando el inicio de una era dorada en el fútbol ecuatoriano. Este logro consolidó al equipo como una fuerza importante en el balompié nacional.
      
      .timeline-item
        .timeline-year 1990-1998
        .timeline-content
          h3 Era de Oro
          p Durante la década de los 90, LDU vivió su época más exitosa a nivel nacional, conquistando múltiples campeonatos y consolidándose como el equipo más ganador del Ecuador. El club ganó 5 títulos nacionales en este período.
      
      .timeline-item
        .timeline-year 2008
        .timeline-content
          .timeline-with-image
            .timeline-text
              h3 Gloria Eterna - Copa Libertadores
              p El 2 de julio de 2008 quedó marcado en la historia del fútbol ecuatoriano. LDU se coronó campeón de la Copa Libertadores al vencer a Fluminense de Brasil en una emocionante definición por penales en el Estadio Maracaná. Este triunfo histórico convirtió a LDU en el primer equipo ecuatoriano en ganar el torneo más prestigioso de América.
            .timeline-image
              img(src='/images/edgardo_bauza.jpg', alt='Celebración Copa Libertadores 2008')
              p.timeline-caption Edgardo Bauza celebrando el título
      
      .timeline-item
        .timeline-year 2009
        .timeline-content
          h3 Copa Sudamericana
          p Un año después de la hazaña en la Libertadores, LDU conquistó la Copa Sudamericana, venciendo a Fluminense nuevamente. Este título reafirmó la grandeza del equipo a nivel continental.
      
      .timeline-item
        .timeline-year 2010
        .timeline-content
          h3 Recopa Sudamericana
          p LDU completó el triplete internacional al ganar la Recopa Sudamericana, consolidándose como el Rey de Copas del fútbol ecuatoriano.
      
      .timeline-item
        .timeline-year 2018-2024
        .timeline-content
          h3 Era Moderna
          p En los últimos años, LDU ha continuado siendo protagonista del fútbol ecuatoriano, ganando nuevos títulos nacionales y manteniendo su presencia en torneos internacionales. El club sigue siendo uno de los más importantes del país.
